In [1]:
import pandas as pd

In [88]:
advent = pd.read_table("../inputs/advent5.txt", header=None, names=['raw'])
advent['row'] = [x[:7] for x in advent['raw']]
advent['col'] = [x[7:10] for x in advent['raw']]
advent

            raw      row  col
0    BFBFFFBLRL  BFBFFFB  LRL
1    FFBFFBFRLR  FFBFFBF  RLR
2    BBBFFBBRLL  BBBFFBB  RLL
3    FBFFBBFLRL  FBFFBBF  LRL
4    BFBBFFFLRR  BFBBFFF  LRR
..          ...      ...  ...
832  FBBBBFFLRL  FBBBBFF  LRL
833  FFFBBBFLRR  FFFBBBF  LRR
834  BBFFBFBRRR  BBFFBFB  RRR
835  BBFBFFBLLR  BBFBFFB  LLR
836  FFFBBFBRRL  FFFBBFB  RRL

[837 rows x 3 columns]

In [95]:
def get_row_number(df, col, rows, front_letter, back_letter):
    #print(df[col])
    lower_bound = 0
    upper_bound = ref_bound = rows
    for letter in df[col]:
        ref_bound /= 2
        #print(letter)
        #print("ref bound: {}".format(ref_bound))
        if letter == front_letter:
            upper_bound -= ref_bound
            #print("lower_bound: {}".format(lower_bound))
            #print("upper_bound: {}".format(upper_bound))
        elif letter == back_letter:
            lower_bound += ref_bound
            #print("lower_bound: {}".format(lower_bound))
            #print("upper_bound: {}".format(upper_bound))
    #print(upper_bound - lower_bound)
    return upper_bound - 1

# get_row_number(advent['row'], 128)

advent['row_nr'] = advent.apply(get_row_number, args = ('row', 128, 'F', 'B'), axis=1)
advent['col_nr'] = advent.apply(get_row_number, args = ('col', 8, 'L', 'R'), axis=1)

advent['seat_nr'] = (advent['row_nr'] * 8) + advent['col_nr']

advent

            raw      row  col  row_nr  col_nr  seat_nr
0    BFBFFFBLRL  BFBFFFB  LRL    81.0     2.0    650.0
1    FFBFFBFRLR  FFBFFBF  RLR    18.0     5.0    149.0
2    BBBFFBBRLL  BBBFFBB  RLL   115.0     4.0    924.0
3    FBFFBBFLRL  FBFFBBF  LRL    38.0     2.0    306.0
4    BFBBFFFLRR  BFBBFFF  LRR    88.0     3.0    707.0
..          ...      ...  ...     ...     ...      ...
832  FBBBBFFLRL  FBBBBFF  LRL    60.0     2.0    482.0
833  FFFBBBFLRR  FFFBBBF  LRR    14.0     3.0    115.0
834  BBFFBFBRRR  BBFFBFB  RRR   101.0     7.0    815.0
835  BBFBFFBLLR  BBFBFFB  LLR   105.0     1.0    841.0
836  FFFBBFBRRL  FFFBBFB  RRL    13.0     6.0    110.0

[837 rows x 6 columns]

In [96]:
# Part A - return the highest seat number
max(advent['seat_nr'])

928.0

In [162]:
# Part B - find the missing seat in the middle of the plane (not in the very front or very back)

seats_list = [int(a) for a in advent['seat_nr']]

seats_list_incomplete = set(seats_list)

seats_list_full = set(range(min(seats_list),max(seats_list)+1))

seats_list_full - seats_list_incomplete

{610}