In [1]:
import pandas as pd

In [56]:
# Opening the data correctly needed to be done using the regular Python open function as the read_csv failed to use \n\n correctly
with open('../inputs/advent6.txt') as file:
    data = file.read()

passport_lines = data.split('\n\n')

passport_lines_merged = [line.replace('\n','') for line in passport_lines]
passport_lines_sep = [line.replace('\n','_') for line in passport_lines]

df = pd.DataFrame({'raw':passport_lines_merged, 'sep':passport_lines_sep})

df

,raw,sep
0,vvxvvxnclmbv,v_vx_v_vx_nclmbv
1,odgpnwqxhbitspqwsnxihogdbtpogiwxdhqbsnt,odgpnwqxhbits_pqwsnxihogdbt_pogiwxdhqbsnt
2,qo,q_o
3,apulnqresohvktxcymzibdwgsigdvakmlyxhetopnubwzr...,apulnqresohvktxcymzibdwg_sigdvakmlyxhetopnubwz...
4,owwo,ow_wo
...,...,...
460,knfheaukanehufunekfaklcsnemaufy,knfheau_kanehuf_unekfa_klcsnemaufy
461,yhuvigcrprivgypcuhurphgvciyiyhrcvupgvuphryicg,yhuvigcrp_rivgypcuh_urphgvciy_iyhrcvupg_vuphryicg
462,flozkyvhnwxrfvpsybhlwrzhzqvmfgrlirholckaveszf,flozkyvhnwxr_fvpsybhlwrz_hzqvmfgrl_irholckaveszf
463,gypwufzagspwqmuyzyogwpzu,gypwufz_agspwqmuyz_yogwpzu
464,coc,c_oc_

In [22]:
# Part A
# The length of a set counts unique occurences of the characters inside it
df['unique_answers'] = df.apply(lambda x: len(set(x['raw'])), axis=1)

sum(df['unique_answers'])

6443

In [53]:
# Part B - 
# You don't need to identify the questions to which anyone answered "yes"; 
# you need to identify the questions to which everyone answered "yes"!
splitted_list = [item.split("_") for item in passport_lines_sep]

def get_common_answers_count(df):
    sub_list = [item for item in df["sep"].split("_")]
    common_letters = set(sub_list[0])
    for item in sub_list[1:]:
        common_letters &= set(item)
    return len(common_letters)

df['common_answers'] = df.apply(get_common_answers_count, axis=1)

df

,raw,sep,unique_answers,common_answers
0,vvxvvxnclmbv,v_vx_v_vx_nclmbv,7,1
1,odgpnwqxhbitspqwsnxihogdbtpogiwxdhqbsnt,odgpnwqxhbits_pqwsnxihogdbt_pogiwxdhqbsnt,13,13
2,qo,q_o,2,0
3,apulnqresohvktxcymzibdwgsigdvakmlyxhetopnubwzr...,apulnqresohvktxcymzibdwg_sigdvakmlyxhetopnubwz...,24,24
4,owwo,ow_wo,2,2
...,...,...,...,...
460,knfheaukanehufunekfaklcsnemaufy,knfheau_kanehuf_unekfa_klcsnemaufy,12,6
461,yhuvigcrprivgypcuhurphgvciyiyhrcvupgvuphryicg,yhuvigcrp_rivgypcuh_urphgvciy_iyhrcvupg_vuphryicg,9,9
462,flozkyvhnwxrfvpsybhlwrzhzqvmfgrlirholckaveszf,flozkyvhnwxr_fvpsybhlwrz_hzqvmfgrl_irholckaveszf,22,6
463,gypwufzagspwqmuyzyogwpzu,gypwufz_agspwqmuyz_yogwpzu,12,6
464,coc,c_oc_,2,0

In [52]:
# This outputs the results - 1 because the last parsed line contains an extra "_"
sum(df['common_answers'])

3231